body {
    font-family: Arial, sans-serif;
    background-color: #2d2323;
    margin: 0;
    padding: 0;
}

.app {
    background-color: #23ddb7;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(20, 0, 0, 0.2);
}
input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
}
button {
    padding: 8px 16px;
    background-color: #0a80ff;
    color: #fff;
    border: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.completed {
    background-color: #d4edda;
    text-decoration: line-through;
}
h2 {
    margin-top: 20px;
}